#contact{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .contactTitle {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  .contactDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 45rem;
    padding: 0 2rem;
  }
  .contactForm{
   margin: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 90vw;
   max-width: 60rem;
  }
  .Name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
  }
  .submitBtn{
    margin: 2rem;
    
  }
  .sendBtn{
    text-decoration: none;
  }
  .links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .icons{
    cursor: pointer;
    font-size: 35px;
    color: white;
  }
  .icons:hover{
    color: brown;
  }