#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.introcontent{
    height: 70vh;
    width: 100vw;
    padding: 2rem;
    /* font-size: 3rem; */
    /* font-weight: 700; */
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 300;
}

.name{
    color:hsl(0, 82%, 61%);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.introtext{
   height: 90px;
   line-height: 90px;
   overflow: hidden;
   
}
.introtext li{
    font-weight: 500;
    font-size: 50px;
    color: #bcafaf;
    list-style: none;
    top: 0;
    position: relative;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
       top:  -360px;
    }
}

.introtext li span{
    position: relative;
}
.introtext li span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #1e1e1e;
    border-left: 2px solid #bcafaf;
    animation: typing 1.5s steps(18) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.para{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.introbtn{
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer; 
}
.Btn{
   position: relative;
   z-index: 1;
}
.meBtn{
    text-decoration: none;
    margin: 10px;
    font-size: medium;
}

@media  screen and (max-width: 685px) {
    @keyframes slide{
        100%{
           top:  -385px;
        }
      }
}

@media  screen and (max-width: 651px) {
    @keyframes slide{
        100%{
           top:  -380px
        }
      }
}

@media  screen and (max-width: 605px) {
    .hello{
        font-size: 30px;
    }
    .name{
        font-size: 30px;
    }
    .para{
        font-size: small;
    }
    .introtext{
        height: 40px;
       line-height: 40px;
       overflow: hidden;
    }
    .introtext li{
        font-weight: 500;
        font-size: 25px;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
           top:  -170px;
        }
      }
}

@media  screen and (max-width: 457px) {
    .introbtn{
        /* margin: 10px; */
        font-size: 10px;
        flex-direction: column;
    }
}

@media  screen and (max-width: 435px) {
    .hello{
        font-size: 30px;
        font-weight: 400;
    }

    .name{
        font-size: 20px;
        text-align: center;
    }  
    .introtext{
        height: 30px;
       line-height: 30px;
       overflow: hidden;
    }
    .introtext li{
        font-weight: 700;
        font-size: 20px;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
           top:  -120px;
        }
      }
}