#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.introcontent{
    padding: 0.5rem;
    margin: 80px;
    display: flex;
    flex-direction: column; 
}
.hello{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.name{
    color:hsl(0, 81%, 57%);
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}
.introtext{
    height: 90px;
   line-height: 90px;
   overflow: hidden;
   
}
.introtext li{
    font-weight: 500;
    font-size: 60px;
    color: #bcafaf;
    list-style: none;
    top: 0;
    position: relative;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
       top:  -360px;
    }
}

.introtext li span{
    position: relative;
}
.introtext li span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #000;
    border-left: 2px solid #bcafaf;
    animation: typing 1.5s steps(18) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.para{
    line-height: 2;
    margin-left: -5%;
    padding-left: 5%;
    
}
.introbtn{
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
 
}
.Btn{
    margin: 10px;
}
.Btn2{
   margin: 10px;
}

@media only screen and (max-width: 605px) {
    .hello{
        font-size: 30px;
    }
    .name{
        font-size: 30px;
    }
    .introtext{
        height: 40px;
       line-height: 40px;
       overflow: hidden;
    }
    .introtext li{
        font-weight: 500;
        font-size: 25px;
        color: #bcafaf;
        list-style: none;
        top: 0;
        position: relative;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
           top:  -160px;
        }
      }
      .para{
        
        text-align: justify;
      }
}

@media only screen and (max-width: 457px) {
    .introbtn{
        margin: 10px;
        font-size: 10px;
        flex-direction: column;
    }

}
@media only screen and (max-width: 435px) {
    .introcontent{
        margin: 45px;
    }
    .hello{
        font-size: 20px;
    }
    .name{
        font-size: 20px;
        
    }
    .introtext{
        height: 30px;
       line-height: 30px;
       overflow: hidden;
    }
    .introtext li{
        font-weight: 700;
        font-size: 20px;
        color: #bcafaf;
        list-style: none;
        top: 0;
        position: relative;
        animation: slide 6s steps(4) infinite;
    }
    @keyframes slide{
        100%{
           top:  -120px;
        }
      }
     .para{
        line-height: 1;
        margin-top: 20px;

}
}